/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

body {
	font-size: 18px;
	line-height: 1.5;
	color: #242424;
	font-family: 'Lora', serif;
}


.telo {
	width: 1100px;
	margin: auto;
}

.logo {
	width: 170px;
	margin: 0;
	flex-grow: 0;
	flex-shrink: 1;
}

header {
	padding: 30px 0;
	margin: auto;
	justify-content: space-between;
	width: 1100px;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

ul {
	padding-left: 0;
	display: flex;
	padding: 10px 15px;
	margin: 0;
	border-radius: 20px;
	
}

li {
	display: block;
}

.button {
	list-style-type: none;
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	border: 1px solid transparent;
	border-radius: 20px;
}

.button:hover {
	background-color: #f195b2;
	color: white;
}

.hero {
	background-image: url(images/cupcake.jpg);
	padding: 200px 75px;
	height: auto;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	position: relative;
	display: flex;
}

h1 {
	position: absolute;
	top: 100px;
	color: white;
	font-size: 52px;
	margin: auto;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 18px;
}

.herotext {
	font-size: 24px;
	margin: 0;
	padding: 20px 20px 0 0;
	width: 60%;
	position: absolute;
	flex-basis: 60%;
	width: 660px;
	top: 220px;
	color: white;
	font-style: italic;
	flex-grow: 0;
	flex-shrink: 1;
	flex-wrap: wrap;
}



.paticka {
	padding: 30px 0;
	margin: 0;
	max-width: 100%;
	background-color: #303339;
	text-align: center;
	color: white;
}

.vitejte {
	margin: auto;
	display: flex;
	width: 1100px;
}

.levy {
	flex-basis: 50%;
}

.pravy {
	flex-basis: 50%;
}

.cukrarka {
	border: 1px solid transparent;
	border-radius: 5px;
}

.druha {
	display: flex;
	flex-wrap: wrap;
}

.nab {
	flex: 1 1 100%;
}

.nabidka {
	display: flex;
	flex-wrap: nowrap;
	width: 1100px;
	flex: 0 1 1100px;
	background-color: #f0f0f0;
}

.dort,
.livance,
.kolac,
.buchticka {
	display: flex;
	flex: 0 0 calc(1100px / 4);
}

.obr1,
.obr2,
.obr3,
.obr4 {
	flex: 0 1 calc(1100px / 4);
	border-radius: 5px 5px 0 0;
	justify-content: space-evenly;
}

.tabulka {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.text1
.text2,
.text3,
.text4 {
	flex-grow: 0;
	flex-shrink: 1;
}


/* 
.druha {
	background-color: #f0f0f0;
	margin-bottom: 80px;
	display: flex;
	flex-wrap: wrap;
}

.dort, 
.livance, 
.kolac, 
.buchticka {
	display: flex;
	border-radius: 5px;
	margin: 0 15px;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 25%;
	justify-content: space-evenly;
}

.tabulka {
	display: flex;
	flex: 0 1 calc(100% / 4);
	background-color: white;
	flex-wrap: wrap;

}

.obr1, 
.obr2,
.obr3,
.obr4 {
	flex: 0 1 25%;
	border-radius: 5px 5px 0 0;
	justify-content: space-evenly;
	} 
*/






.nab {
	flex-basis: 100%;
	flex-shrink: 0;
	flex-grow: 1;
}

.dnesninabidka {
	font-size: 36px;
	color: #3e606b;
}





.peceni {
	display: flex;
}

.vlevo,
.vpravo {
	flex-basis: 50%;
}

.vpravo {
	margin-left: 30px;
}

.pece {
	border: 1px solid transparent;
	border-radius: 5px;
}




